body {
  background: #22252a;
  color: #eee;
  font-size: 14pt;
  line-height: 150%;
  font-family:"Lucida Grande", sans-serif;
}

#editmode{
/* max-width: 30em;*/
  margin: 0 0 5em 9em;
}
#listmode{
 max-width: 30em;
  margin: 0 0 5em 9em;

}

h1{
  font-family: times, Times New Roman, times-roman, georgia, serif; 
	font-size:83px;
	color:#CCDD55;
	padding:30px;
	padding-top:45px;
	padding-bottom:13px;
}

h2{
  padding-top:8px;
  padding-left:35px;
  padding-bottom:50px;
}

#todos{
	margin-left:35px;
}
.todo{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border:1px solid #AAA;
	background-color:#121314;
	width:700px;
	height:30px;
	text-align:center;
	margin:10px;
	margin-left:0px;
  	font-size: 14px;
	color:#FFF;
}
.fictive{
	color:#AAA;
	background-color:#121314;
	border:1px solid #444;
}
#todolist{
	padding-bottom:20px;
}

#actions{
	width:700px;
	position:relative;
}
#actions a{
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px 50% ;
	background-color:#CCDD55;
	color:#22252a;
	border:2px solid #717A2F;
	text-decoration:none;
	font-size:20px;
	padding:6px 25px;
	background: -webkit-gradient(linear, left top, left bottom, from(#CCDD55), to(#717A2F));	
}

#actions a:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#CCDD55), to(#808A3D));	
}
.ortitle{
	color:#AAA;
}

#todotext{
	font-size:53px;
	padding-top:100px;
	width:100%;
	text-align:center;
}
#todocounter{
	padding-top:15px;
	color:#AAA;
	text-align:center;
}
#tickmodeactions{
		padding-left:50px;
}